*	@Chia-Network/required-reviewers
/.github/**/* @Chia-Network/actions-reviewers
/PRETTY_GOOD_PRACTICES.md	@Chia-Network/required-reviewers
/tests/ether.py @Chia-Network/required-reviewers
/pyproject.toml @Chia-Network/required-reviewers
