[run]
branch=True
relative_files=True
source_pkgs=
  chia
  tests
concurrency=multiprocessing
parallel=True

[report]
precision = 1
exclude_lines =
  pragma: no cover
  abc\.abstractmethod
  typing\.overload
  ^\s*\.\.\.\s*$
  if typing.TYPE_CHECKING:
