[flake8]
max-line-length = 120
exclude = ./typings/**/*
ignore = E203,W503
per-file-ignores =
    tests/util/build_network_protocol_files.py:F405
    tests/util/test_network_protocol_files.py:F405
    tests/util/test_network_protocol_json.py:F405
    tests/util/protocol_messages_json.py:E501
