# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
**/*.o
**/*.DS_Store

# Database
nohup.out

# Keys and plot files
config/keys.yaml
config/plots.yaml

# Bundled code
chia-blockchain.tar.gz.tar.gz

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
**/*.egg-info

# Unit test / coverage reports
.cache
.pytest_cache/

# PoSpace plots
**/*.dat
**/*.dat.tmp
*.mo
*.pot

# pyenv
.python-version

.venv

# mypy
.mypy_cache/

.vscode
