[submodule "chia-blockchain-gui"]
	path = chia-blockchain-gui
	url = https://github.com/silicoin-network/chia-blockchain-gui.git
	branch = main
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
        branch = main
