# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
**/*.o
**/*.DS_Store

# VDF executables
lib/chiavdf/fast_vdf/compile_asm
lib/chiavdf/fast_vdf/vdf
lib/chiavdf/fast_vdf/server
lib/chiavdf/fast_vdf/vdf_server
# Flint dependency
lib/chiavdf/fast_vdf/flint

# Keys and plot files
src/config/keys.yaml
src/config/plots.yaml


# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
**/*.egg-info

# Unit test / coverage reports
.cache
.pytest_cache/

# PoSpace plots
**/*.dat
**/*.dat.tmp
*.mo
*.pot

# pyenv
.python-version

.venv

# mypy
.mypy_cache/

.vscode