[submodule "deafwave-blockchain-gui"]
	path = deafwave-blockchain-gui
	url = https://github.com/ChandlerFerry/deafwave-blockchain-gui.git
	branch = main
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
