repos:
  - repo: local
    hooks:
      - id: check-sql
        name: Validate SQL statements
        entry: ./activated.py python -m chia._tests.check_sql_statements
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: init_py_files
        name: __init__.py files
        entry: ./activated.py python chia/_tests/build-init-files.py -v --root .
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: ruff_format
        name: ruff format
        entry: ./activated.py ruff format
        language: system
        require_serial: true
        types_or: [python, pyi]
  - repo: local
    hooks:
      - id: ruff
        name: Ruff
        entry: ./activated.py ruff check --fix
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: tach
        name: tach
        entry: ./activated.py tach check
        language: system
        types: [python]
        pass_filenames: false
  - repo: local
    hooks:
      - id: poetry
        name: poetry
        entry: ./activated.py --poetry poetry check
        language: system
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [ini, json, toml, yaml, markdown]
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.8.0-1
    hooks:
      - id: shfmt
        args: ["--diff", "--write", "-i", "2"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-yaml
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: end-of-file-fixer
        exclude: ".*?(.hex|.clsp|.clvm|.clib)"
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-ast
  - repo: local
    hooks:
      - id: chialispp
        name: Pretty print chialisp files
        entry: ./activated.py python tools/chialispp.py .
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: virtual_project_dependency_cycles
        name: Check for dependency cycles in project packages
        entry: ./activated.py python chia/util/virtual_project_analysis.py print_cycles --directory chia --config virtual_project.yaml
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: build mypy.ini
        name: build mypy.ini
        entry: ./activated.py python manage-mypy.py build-mypy-ini
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: ./activated.py mypy
        language: system
        pass_filenames: false
