[tool.poetry]
name = "chia-blockchain"
# see [tool.poetry-dynamic-versioning]
version = "0.1.0"
description = "Chia blockchain full node, farmer, timelord, and wallet."
authors = ["Mariano Sorgente <mariano@chia.net>"]
license = "Apache License"
readme = "README.md"
keywords= ["chia", "blockchain", "node"]
homepage = "https://chia.net/"
packages = [{ include = "chia"}]

[tool.poetry.scripts]
chia = "chia.cmds.chia:main"
chia_daemon = "chia.daemon.server:main"
chia_wallet = "chia.server.start_wallet:main"
chia_full_node = "chia.server.start_full_node:main"
chia_harvester = "chia.server.start_harvester:main"
chia_farmer = "chia.server.start_farmer:main"
chia_introducer = "chia.server.start_introducer:main"
chia_crawler = "chia.seeder.start_crawler:main"
chia_seeder = "chia.seeder.dns_server:main"
chia_timelord = "chia.server.start_timelord:main"
chia_timelord_launcher = "chia.timelord.timelord_launcher:main"
chia_full_node_simulator = "chia.simulator.start_simulator:main"
chia_data_layer = "chia.server.start_data_layer:main"
chia_data_layer_http = "chia.data_layer.data_layer_server:main"
chia_data_layer_s3_plugin = "chia.data_layer.s3_plugin_service:run_server"

[[tool.poetry.source]]
name = "chia"
url = "https://pypi.chia.net/simple/"
default = false
secondary = true

[tool.poetry.urls]
"Source" = "https://github.com/Chia-Network/chia-blockchain/"
"Changelog" = "https://github.com/Chia-Network/chia-blockchain/blob/main/CHANGELOG.md"

[tool.poetry.dependencies]
python = ">=3.8.1, <3.12"
aiofiles = "23.2.1"  # Async IO for files
aiohttp = "3.8.5"  # HTTP server for full node rpc
aiosqlite = "0.19.0"  # asyncio wrapper for sqlite, to store blocks
anyio = "4.0.0"
bitstring = "4.1.2"  # Binary data management library
blspy = "2.0.2"  # Signature library
boto3 = "1.28.65"  # AWS S3 for Data Layer S3 plugin
chiabip158 = "1.3"  # bip158-style wallet filters
chiapos = "2.0.3"  # proof of space
chia_rs = "0.2.11"
chiavdf = "1.0.11"  # timelord and vdf verification
click = "8.1.3"  # For the CLI
clvm = "0.9.8"
clvm_tools = "0.4.6"  # Currying Program.to other conveniences
clvm_tools_rs = "0.1.38"  # Rust implementation of clvm_tools' compiler
colorama = "0.4.6"  # Colorizes terminal output
colorlog = "6.7.0"  # Adds color to logs
concurrent_log_handler = "0.9.24"  # Concurrently log and rotate logs
cryptography = "41.0.4"  # Python cryptography library for TLS - keyring conflict
dnslib = "0.9.23"  # dns lib
dnspython = "2.4.1"  # Query DNS seeds
filelock = "3.12.3"  # For reading and writing config multiprocess and multithread safely  (non-reentrant locks)
keyring = "23.13.1"  # Store keys in MacOS Keychain, Windows Credential Locker
packaging = "23.1"
pip = "23.3"
psutil = [
    {version="5.9.4", markers="platform_machine!='aarch64'", source="pypi"},
    {version="5.9.4", markers="platform_machine=='aarch64'", source="chia"},
]
pyyaml = "6.0.1"  # Used for config file format
setproctitle = "1.3.2"  # Gives the chia processes readable names
setuptools = "65.5.0"
sortedcontainers = "2.4.0"  # For maintaining sorted mempools
typing-extensions = "4.8.0"  # typing backports like Protocol and TypedDict
watchdog = "2.2.0"  # Filesystem event watching - watches keyring.yaml
zstd = "1.5.5.1"

aiohttp_cors = { version = "0.7.0", optional = true }
black = { version = "23.7.0", optional = true }
build = { version = "1.0.3", optional = true }
coverage = { version = "7.3.0", optional = true }
diff-cover = { version = "7.7.0", optional = true }
flake8 = { version = "6.1.0", optional = true }
isort = { version = "5.12.0", optional = true }
# TODO: but...  keyrings_cryptfile goes 15 minutes without locking while this does in 75 seconds
"keyrings.cryptfile" = { version = "1.3.9", optional = true }
mypy = { version = "1.5.1", optional = true }
pre-commit = { version = "3.4.0", optional = true }
py3createtorrent = { version = "1.1.0", optional = true }
pyinstaller = { version = "5.13.0", optional = true }
pylint = { version = "3.0.1", optional = true }
pytest = { version = "7.4.0", optional = true }
pytest-asyncio = { version = "0.21.1", optional = true }
pytest-cov = { version = "4.1.0", optional = true }
pytest-mock = { version = "3.11.1", optional = true }
pytest-monitor = { version = "1.6.6", platform = "linux", optional = true }
pytest-xdist = { version = "3.3.1", optional = true }
twine = { version = "4.0.2", optional = true }
types-aiofiles = { version = "23.2.0.0", optional = true }
types-cryptography = { version = "3.3.23.2", optional = true }
types-pyyaml = { version = "6.0.12.11", optional = true }
types-setuptools = { version = "68.0.0.3", optional = true }

miniupnpc = { version = "2.2.2", source = "chia", optional = true }

[tool.poetry.extras]
dev = ["aiohttp_cors", "black", "build", "coverage", "diff-cover", "flake8", "isort", "mypy", "pre-commit", "py3createtorrent", "pyinstaller", "pylint", "pytest", "pytest-asyncio", "pytest-cov", "pytest-mock", "pytest-monitor", "pytest-xdist", "twine", "types-aiofiles", "types-click", "types-cryptography", "types-pyyaml", "types-setuptools"]
upnp = ["miniupnpc"]
legacy_keyring = ["keyrings.cryptfile"]

[tool.poetry-dynamic-versioning]
enable = true
vcs = "git"
dirty = true
pattern = "default-unprefixed"
format-jinja = "{% if distance == 0 %}{{ base }}{% else %}{{ base }}.dev{{ distance }}{% endif %}{% if dirty %}+dirty{% endif %}"
style = "pep440"
bump = true

[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
target-version =  ['py37', 'py38', 'py39', 'py310', 'py311']
include = '''
^/(
    [^/]*.py
    | (benchmarks|build_scripts|chia|tests|tools)/.*\.pyi?
)$
'''
exclude = ''
