aiohttp==3.6.2
aiosqlite==0.11.0
aiter==0.13.20191203
appdirs==1.4.3
async-timeout==3.0.1
attrs==19.3.0
autoflake==1.3.1
black==19.10b0
blspy==0.1.15
cbor2==5.0.1
cffi==1.13.2
chardet==3.0.4
chiabip158==0.12
chiapos==0.12.3
chiavdf==0.12.2
Click==7.0
colorlog==4.1.0
cryptography==2.8
entrypoints==0.3
flake8==3.7.9
idna==2.8
importlib-metadata==1.4.0
isort==4.3.21
mccabe==0.6.1
miniupnpc==2.0.2
more-itertools==8.1.0
multidict==4.7.4
mypy==0.761
mypy-extensions==0.4.3
packaging==20.0
pathspec==0.7.0
pluggy==0.13.1
py==1.8.1
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
pyparsing==2.4.6
pytest==5.3.4
pytest-asyncio==0.10.0
PyYAML==5.3
regex==2020.1.8
setuptools-scm==3.4.2
six==1.14.0
toml==0.10.0
typed-ast==1.4.1
typing-extensions==3.7.4.1
wcwidth==0.1.8
yarl==1.4.2
zipp==2.0.0
sortedcontainers==2.1.0
websockets==8.1.0
-e git+https://github.com/Chia-Network/py-setproctitle.git@d2ed86c5080bb645d8f6b782a4a86706c860d9e6#egg=py-setproctitle
-e git+https://github.com/Chia-Network/clvm.git@b912f3a0e0bd18a5ecbb29124a00fc68d8b03adb#egg=clvm
-e git+https://github.com/Chia-Network/clvm_tools.git@6ff53bcfeb0c970647b6cfdde360d32b316b1326#egg=clvm_tools
