{% macro render_field(name, value='') -%}
<div class='field'>
    <span class='name'>{{ name }}:</span>
    <span>{{ value }}</span>
</div>
{%- endmacro %}

{% macro render_field_link(name, value, href='') -%}
<div class='field'>
    <span class='name'>{{ name }}:</span>
    <a href={{ href }}>{{ value }}</a>
</div>
{%- endmacro %}
