{% macro render_field(name, value='') -%}
    <div><span class='name'>{{ name }}:</span> {{ value }}</div>
{%- endmacro %}

{% macro render_field_link(name, value, href='') -%}
    <div>
        <span class='name'>{{ name }}:</span>
        <a href={{href }}>{{ value }}</a>
    </div>
{%- endmacro %}