{% extends 'layout.html' %}
{% from '_macros.jinja2' import render_field %}
{% block content %}
<button class="blue-button" onclick='disconnectPeer("{{ connection.node_id }}")'>Disconnect</button>

<div class="with-shadow">
<h2>{{ connection.type_name }}</h2>
{{ render_field('node_id', connection.node_id ) }}
{{ render_field('bytes_read', connection.bytes_read) }}
{{ render_field('bytes_written', connection.bytes_written) }}
{{ render_field('creation_time', connection.creation_time) }}
{{ render_field('last_message_time', connection.last_message_time) }}
{{ render_field('local_host', connection.local_host) }}
{{ render_field('local_port', connection.local_port) }}
{{ render_field('peer_host', connection.peer_host) }}
{{ render_field('peer_server_port', connection.peer_server_port) }}
</div>
{% endblock %}
