{% extends 'layout.html' %}
{% from '_macros.jinja2' import render_field %}
{% block content %}
<h2>Status</h2>
{{ render_field('Status', state) }}
{{ render_field('Sync mode', blockchain_state.sync_mode) }}
<div>
    <span class='name'><a href="./lca">Least common ancestor</a></span>
    {{ render_field('Height', blockchain_state.lca.challenge.height) }}
    {{ render_field('Total iterations since genesis', blockchain_state.lca.challenge.total_iters) }}
</div>
<div>
    <span class='name'>Tip heights</span>
    {% for tip in blockchain_state.tips %}
        {{ tip.challenge.height }}
    {% endfor %}  
</div>

{{ render_field('Current difficulty', blockchain_state.difficulty) }}
{{ render_field('Current VDF iterations per second', blockchain_state.ips) }} 

<h3>Connections</h3>
{% for connection in connections %}
    <div>
        <span>{{ connection.type_name }}</span> -
        <a href="./connection?node_id={{ connection.node_id | string | urlencode }}">
            <span>{{ connection.peer_host }}:{{ connection.peer_port }}/{{ connection.peer_server_port }}</span>
        </a>
    </div>
{% endfor %}        

<h3>Our Pool Winnings</h3>
{% for winner in our_winners %}
    <div><span class='name'>Public key</span> {{ winner[2] }}: {{ winner[0] / 1000000000000 }} chias</div>
{% endfor %}  
{% endblock %}