<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>chia</h1>
    <div>{{ state }}</div>    
    <div>{{ connectionCount }}</div>
</body>
</html>