{% extends 'layout.html' %}
{% from '_macros.jinja2' import render_field %}
{% block content %}
{% macro show_node(node) %}
   {% for key, value in node.__dict__.items() %}
        <span>{{key}}: </span>
        {% if True %}
            <span>Value: {{value}}</span>
        {% else %}
            {{ show_node(value) }}
        {% endif %}
   {% endfor %}
{% endmacro %}

<h2>Challenge</h2>
{{ render_field('Height', lca.challenge.height) }}
{{ render_field('prev_challenge_hash', lca.challenge.prev_challenge_hash) }}
{{ render_field('proof_of_space_hash', lca.challenge.proof_of_space_hash) }}
{{ render_field('proof_of_time_output_hash', lca.challenge.proof_of_time_output_hash) }}
{{ render_field('total_iters', lca.challenge.total_iters) }}
{{ render_field('total_weight', lca.challenge.total_weight) }}
<h2>Header</h2>
{{ render_field('harvester_signature', lca.header.harvester_signature) }}
<h3>Data</h3>
{{ render_field('body_hash', lca.header.data.body_hash) }}
{{ render_field('extension_data', lca.header.data.extension_data) }}
{{ render_field('filter_hash', lca.header.data.filter_hash) }}
{{ render_field('prev_header_hash', lca.header.data.prev_header_hash) }}
{{ render_field('proof_of_space_hash', lca.header.data.proof_of_space_hash) }}
{{ render_field('timestamp', lca.header.data.timestamp) }}

{% endblock %}
