network_id: testnet  # testnet/mainnet
# Send a ping to all peers after ping_interval seconds
ping_interval: 120
self_hostname: &self_hostname "localhost"
daemon_port: 55400
ssl:
  crt: "trusted.crt"
  key: "trusted.key"

# Controls logging of all servers (harvester, farmer, etc..). Each one can be overriden.
logging: &logging
  log_stdout: False  # If True, outputs to stdout instead of a file
  log_filename: "log/debug.log"
  log_level: "WARNING"  # Can be CRITICAL, ERROR, WARNING, INFO, DEBUG, NOTSET

harvester:
  # The harvester server (if run) will run on this port
  port: 8448
  farmer_peer:
    host: *self_hostname
    port: 8447

  # If True, starts an RPC server at the following port
  start_rpc_server: True
  rpc_port: 8560

  logging: *logging

  # Plots are searched for in the following directories
  plot_directories: []

  ssl:
    crt: "trusted.crt"
    key: "trusted.key"

pool: {
  # Replace this with a real puzzle hash
  # xch_target_address: txch102gkhhzs60grx7cfnpng5n6rjecr89r86l5s8xux2za8k820cxsq64ssdg
  logging: *logging
}

farmer:
  # The farmer server (if run) will run on this port
  port: 8447
  # The farmer will attempt to connect to this full node and harvester
  full_node_peer:
    host: *self_hostname
    port: 58444
  harvester_peer:
    host: *self_hostname
    port: 8448

  pool_public_keys: []

  # Replace this with a real puzzle hash
  # xch_target_address: txch102gkhhzs60grx7cfnpng5n6rjecr89r86l5s8xux2za8k820cxsq64ssdg

  # If True, starts an RPC server at the following port
  start_rpc_server: True
  rpc_port: 8559

  # To send a share to a pool, a proof of space must have required_iters less than this number
  pool_share_threshold: 1000
  logging: *logging

  ssl:
    crt: "trusted.crt"
    key: "trusted.key"


# Don't run this unless you want to run VDF clients on the local machine.
timelord_launcher:
  # The server where the VDF clients will connect to.
  port: 8000
  # Number of VDF client processes to keep alive in the local machine.
  process_count: 3
  logging: *logging


timelord:
  # The timelord server (if run) will run on this port
  port: 8446
  # Provides a list of VDF clients expected to connect to this timelord.
  # For each client, an IP is provided, together with the estimated iterations per second.
  vdf_clients:
    ip:
      - *self_hostname
      - localhost
      - 127.0.0.1
    ips_estimate:
      - 150000
  full_node_peer:
      host: *self_hostname
      port: 58444
  # Maximum number of seconds allowed for a client to reconnect to the server.
  max_connection_time: 60
  # The ip and port where the TCP clients will connect.
  vdf_server:
    host: *self_hostname
    port: 8000
  logging: *logging
  # fast_algorithm is a faster proof generation algorithm. This speed increase
  # requires much less memory usage and a does not have the risk of OOM that
  # the normal timelord has but requires significantly more cores doing
  # parrallel proof generation and creates a larger and slower to verify
  # resulting proof.
  # An Intel Core i9-10900K can run 2 normal vdf_clients at ~221,000 ips
  # without slowing down but running more than 1 with fast_algorithm will
  # run each vdf_client slower.
  fast_algorithm: False
  # Bluebox (sanatizing Timelord):
  # If set 'True', the timelord will create compact proofs of time, instead of
  # extending the chain. The attribute 'fast_algorithm' won't apply if timelord
  # is running in sanitizer_mode.
  # You must set 'send_uncompact_interval' in 'full_node' > 0 in the full_node
  # section below to have full_node send existing time proofs to be sanitized.
  sanitizer_mode: False

  ssl:
    crt: "trusted.crt"
    key: "trusted.key"

full_node:
  # The full node server (if run) will run on this port
  port: 58444

  # Run multiple nodes with different databases by changing the database_path
  database_path: db/blockchain_v22.db
  peer_db_path: db/peer_table_node.db
  simulator_database_path: sim_db/simulator_blockchain_v22.db

  # If True, starts an RPC server at the following port
  start_rpc_server: True
  rpc_port: 8555

  # Use UPnP to attempt to allow other full nodes to reach your node behind a gateway
  enable_upnp: True
  # Don't send any more than these number of headers and blocks, in one message
  max_headers_to_send: 1
  max_blocks_to_send: 1
  num_sync_batches: 50

  # If node is more than these blocks behind, will do a sync
  sync_blocks_behind_threshold: 20

  # How often to initiate outbound connections to other full nodes.
  peer_connect_interval: 30
  # Accept peers until this number of connections
  target_peer_count: 60
  # Initiate outbound connections until this number is hit.
  target_outbound_peer_count: 10
  # Only connect to peers who we have heard about in the last recent_peer_threshold seconds
  recent_peer_threshold: 6000

  # Send to a Bluebox (sanatizing timelord) uncompact blocks once every
  # 'send_uncompact_interval' seconds. The recommended value is
  # send_uncompact_interval=1800. This sends 50 proofs every 30 minutes.
  # Set to 0 if you don't use this feature.
  send_uncompact_interval: 0

  farmer_peer:
      host: *self_hostname
      port: 8447
  timelord_peer:
      host: *self_hostname
      port: 8446
  introducer_peer:
      host: introducer1.beta.chia.net  # Chia AWS introducer IPv4/IPv6
      port: 58444
  wallet_peer:
    host: *self_hostname
    port: 8449
  logging: *logging

  ssl:
    crt: "trusted.crt"
    key: "trusted.key"

ui:
   # The ui node server (if run) will run on this port
  port: 8222

  # Which port to use to communicate with the full node
  rpc_port: 8555

  # This SSH key is for the ui SSH server
  ssh_filename: config/ssh_host_key
  logging: *logging

introducer:
  host: *self_hostname
  port: 8445
  max_peers_to_send: 20
  # The introducer will only return peers who it has seen in the last
  # recent_peer_threshold seconds
  recent_peer_threshold: 6000
  logging: *logging

  ssl:
    crt: "trusted.crt"
    key: "trusted.key"

wallet:
  port: 8449
  rpc_port: 9256

  # The minimum height that we care about for our transactions. Set to zero
  # If we are restoring from private key and don't know the height.
  starting_height: 0
  start_height_buffer: 100  # Wallet will stop fly sync at starting_height - buffer
  num_sync_batches: 50
  initial_num_public_keys: 100
  initial_num_public_keys_new_wallet: 5

  full_node_peer:
    host: *self_hostname
    port: 58444

  testing: False
  database_path: wallet/db/blockchain_wallet_v22.db
  wallet_peers_path: wallet/db/wallet_peers.db

  logging: *logging

  target_peer_count: 5
  peer_connect_interval: 60
  # The introducer will only return peers who it has seen in the last
  # recent_peer_threshold seconds
  recent_peer_threshold: 6000

  introducer_peer:
    host: introducer1.beta.chia.net # Chia AWS introducer IPv4/IPv6
    port: 58444

  ssl:
    crt: "trusted.crt"
    key: "trusted.key"
