Package: chia-blockchain-cli
Version: {{ CHIA_DEB_CONTROL_VERSION }}
Architecture: {{ PLATFORM }}
Maintainer: Chia Network Inc <hello@chia.net>
Description: Chia Blockchain
 Chia is a modern cryptocurrency built from scratch, designed to be efficient, decentralized, and secure.
