@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

.accordion__section {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.accordion {
  background-color: #fff;
  color: #444;
  cursor: pointer;
  padding: 0px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

.accordion:hover,
.active {
  background-color: #eee;
}

.accordion__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.accordion__icon {
  margin-left: 0px;
  transition: transform 0.6s ease;
}

.rotate {
  transform: rotate(90deg);
}

.accordion__content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

.accordion__text {
  padding-top: 10px;
  font-size: 16px;
}
