ProofOfSpace
RunTests
HellmanAttacks
*.dSYM
**/*.o
**/*.dat
**/*.dat.tmp
.vscode
.venv/
**/__pycache__
src/python/.aes*
src/python/.rendered*
src/python/*.so
**/*.DS_Store
*.so
*.cmake
CmakeCache.txt
CMakeFiles
Makefile
**/*.rendered.*.cpp
**/*.cppimporthash
build
.pytest_cache
**/*.egg-info

