{
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "rules": {
    "additional-rule": "warn"
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "overrides": [
    {
      "files": ["**/*.[jt]s?(x)"],
      "rules": {
        "additional-typescript-only-rule": "warn"
      }
    }
  ]
}