html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: Roboto;
  src: url("./fonts/Roboto-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url("./fonts/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url("./fonts/Roboto-Light.ttf");
  font-weight: 300;
}
