body {
    padding-top: 10px;
    padding-left: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.field {
  margin-left: 2em;
}

.name {
  font-weight: bold;
}

#footer {
  margin-top: 3em;
}

.bg {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: rgba(30, 30, 30, 0.5);
}

#busybox.show {
  display: block;
}