body {
    padding-top: 10px;
    padding-left: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
  
a {
  color: #00B7FF;
}

.field {
  margin-left: 2em;
}

.name {
  font-weight: bold;
}

#footer {
  margin-top: 3em;
}