<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <?include "config.wxi"?>
    <Product Name='Chia Blockchain $(var.version)'
        Manufacturer='$(var.Manufacturer)'
        Id='*'
        UpgradeCode='$(var.blockchainUpgradeCode)'
        Language='1033'
        Codepage='1252'
        Version='$(var.version)'>
        <Package Id='*'
            Keywords='Chia Network Blockchain Installer' 
            Description="Chia Blockchain Installer $(var.version)"
            Comments='$(var.Comments)'
            Manufacturer='$(var.Manufacturer)'
            InstallerVersion='500'
            Languages='1033'
            Compressed='yes'
            SummaryCodepage='1252' 
            InstallScope="perUser"/>

        <!-- Media and application properties -->
        <Media Id='1' Cabinet='chiaBlockchain.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />
        <Icon Id="icon.ico" SourceFile="$(env.resourceDir)\icon.ico"/>
        <Property Id="ARPPRODUCTICON" Value="icon.ico" />
        <Property Id='DiskPrompt' Value="Chia Network's Chia Installation [1]" />
        <Property Id='ARPCOMMENTS'>$(var.ARPCOMMENTS)</Property>
        <Property Id='ARPCONTACT'>$(var.ARPCONTACT)</Property>
        <Property Id='ARPHELPLINK'>$(var.ARPHELPLINK)</Property>
        <Property Id='ARPURLINFOABOUT'>$(var.ARPURLINFOABOUT)</Property>
        <Property Id='ARPURLUPDATEINFO'>$(var.ARPURLUPDATEINFO)</Property>
        <Property Id='MSIFASTINSTALL'>7</Property>     
        <Property Id='ALLUSERS' Secure='yes'>2</Property>
        <Property Id='MSIINSTALLPERUSER' Secure='yes'>1</Property>
        <SetProperty Id="ARPNOMODIFY" Value="1" After="InstallValidate" Sequence="execute"/>

        <!-- Upgrade logic -->
        <Upgrade Id='$(var.blockchainUpgradeCode)'>
            <UpgradeVersion OnlyDetect='yes'
                Property='SELFFOUND'
                Minimum='$(var.version)'
                IncludeMinimum='yes'
                Maximum='$(var.version)'
                IncludeMaximum='yes' />
            <UpgradeVersion OnlyDetect='yes'
                Property='NEWERFOUND'
                Minimum='$(var.version)'
                IncludeMinimum='no' />
            <UpgradeVersion OnlyDetect='no'
                Property='PREVIOUSFOUND'
                Minimum='0.1.0'
                IncludeMinimum='yes'
                Maximum='$(var.version)'
                IncludeMaximum='no' />
        </Upgrade>
        <CustomAction Id='AlreadyUpdated' Error='Chia Blockchain has already been updated to $(var.version) or newer.' />
        <CustomAction Id='NoDowngrade' Error='A later version of Chia Blockchain is already installed.' />
        <InstallExecuteSequence>
            <Custom Action='AlreadyUpdated' After='FindRelatedProducts'>SELFFOUND</Custom>
            <Custom Action='NoDowngrade' After='FindRelatedProducts'>NEWERFOUND</Custom>
            <RemoveExistingProducts Before="InstallInitialize" />
        </InstallExecuteSequence>

        <!-- User interface -->
        <WixVariable Id="WixUIBannerBmp" Value="$(env.resourceDir)\banner.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="$(env.resourceDir)\dialog.bmp" />
        <WixVariable Id="WixUILicenseRtf" Value="$(env.resourceDir)\eula.rtf" />
        <UIRef Id="WixUI_Minimal" />
        <UIRef Id="WixUI_ErrorProgressText" />

        <!-- Files, folders, shortcuts, registry etc -->
        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFiles64Folder' Name='installRoot'>
                <Directory Id='ChiaNetworkDir' Name='Chia Network'>
                    <Component Id="ManufacturerData" Guid="83770020-87A0-413F-B4D2-A6E496401062">
                        <RegistryValue Root='HKCU'
                            Key='Software\[Manufacturer]'
                            Type='integer'
                            Name="[ProductName]"
                            Value='1'
                            KeyPath='yes' />
                        <RemoveFolder Id='ChiaNetworkDir' On='uninstall' />
                    </Component>
                    <Directory Id='INSTALLDIR' Name='Chia Blockchain'>
                        <Component Id="dirINSTALLDIR" Guid="E645FFCF-0742-4AB1-845E-B3EB8B721059">
                            <RemoveFolder Id='INSTALLDIR' On='uninstall' />
                            <RegistryValue Root='HKCU'
                                Key='Software\[Manufacturer]\[ProductName]'
                                Type='string'
                                Name="Version"
                                Value='$(var.version)'
                                KeyPath='yes' />
                            <RegistryValue Root='HKCU'
                                Key='Software\[Manufacturer]\[ProductName]'
                                Type='string'
                                Value='[INSTALLDIR]'/>
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder" Name="Programs">
                <Directory Id="ProgramMenuDir" Name="Chia">
                    <Component Id="ProgramMenuDir" Guid="A16FAB5C-6B3E-4B59-91B0-B254244FBDC9">
                        <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
                        <RegistryValue Root='HKCU'
                            Key='Software\[Manufacturer]\[ProductName]'
                            Type='string'
                            Value='[INSTALLDIR]'
                            KeyPath='yes' />
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <!-- Included components -->
        <Feature Id='Complete' Level='1'>
            <ComponentRef Id='ProgramMenuDir' />
            <ComponentRef Id='dirINSTALLDIR' />
            <ComponentRef Id='ManufacturerData' />
            <ComponentGroupRef Id="ChiaBlockchainFiles" /> <!-- this component group is defined in the heat generated wxs file -->
        </Feature>
    </Product>
</Wix>
