<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Bundle Id="ChiaSuiteBundle"
        Condition="VersionNT64 AND VersionNT >= v10.0"
        Copyright="Chia Network 2020"
        DisableModify="Yes"
        HelpUrl="https://keybase.io/team/chia_network.public"
        IconSourceFile="icon.ico"
        Manufacturer="Chia Network"
        Name="Chia"
        UpgradeCode="BEC2F30C-D162-4303-928C-A43894D7CE84"
        Version="$(var.version)">
        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />
        <Chain>
        </Chain>
    </Bundle>
</Wix>