<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
    xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <?include "config.wxi"?>
    <Fragment>
        <util:RegistrySearch Variable="python37Installed" 
            Root="HKCU" 
            Key="Software\Python\PythonCore\3.7" 
            Result="exists"/>
        <util:RegistrySearch Variable="python37Version" 
            Root="HKCU" 
            Key="Software\Python\PythonCore\3.7"
            Value="Version"
            Result="value"/>
        <PackageGroup Id="PythonPackage">
            <ExePackage Id="PythonExePackage"
                Description="Python 3.7"
                SourceFile="python-$(var.pythonVersion)-amd64.exe"
                InstallCommand="/quiet"
                UninstallCommand="/uninstall"
                InstallCondition="python37Installed = 0 OR python37Version &lt; v$(var.pythonVersion)"/>
        </PackageGroup>
    </Fragment>
</Wix>
<!--DownloadUrl="https://www.python.org/ftp/python/$(var.pythonVersion)/python-$(var.pythonVersion)-amd64.exe"
SourceFile="python-$(var.pythonVersion)-amd64.exe"  -->