<?xml version="1.0"?>
<!-- This defines the python pre-requisite -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
    xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <?include "config.wxi"?>
    <Fragment>
        <util:RegistrySearch Variable="python37Installed"
            Root="HKCU"
            Key="Software\Python\PythonCore\3.7"
            Result="exists"/>
        <util:RegistrySearch Variable="python37Version"
            Root="HKCU"
            Key="Software\Python\PythonCore\3.7"
            Value="Version"
            Result="value"/>
        <PackageGroup Id="PythonPackage">
            <ExePackage Id="PythonExePackage"
                Cache="yes"
                Compressed="yes"            
                Description="Python 3.7.7"
                DetectCondition="python37Installed = 1 AND python37Version >= v$(var.pythonVersion)"
                InstallCommand="/quiet"
                PerMachine="no"
                Permanent="yes"              
                SourceFile="$(env.prereqDir)\python-$(var.pythonVersion)-amd64.exe"
                Vital="yes"/>
        </PackageGroup>
    </Fragment>
</Wix>
