<?xml version="1.0"?>
<!-- This defines the python pre-requisite -->
<!-- NOT CURRENTLY USED -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
    xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <?include "config.wxi"?>
    <Fragment>
        <util:RegistrySearch Variable="python37Installed"
            Root="HKCU"
            Key="Software\Python\PythonCore\3.7"
            Result="exists"/>
        <util:RegistrySearch Variable="python37Version"
            Root="HKCU"
            Key="Software\Python\PythonCore\3.7"
            Value="Version"
            Result="value"/>
        <PackageGroup Id="PythonPackage">
            <ExePackage Id="PythonExePackage"
                Description="Python 3.7"
                SourceFile="python-$(var.pythonVersion)-amd64.exe"
                InstallCommand="/quiet"
                UninstallCommand="/uninstall"
                DetectCondition="python37Installed = 0 OR python37Version &lt; v$(var.pythonVersion)"/>
        </PackageGroup>
    </Fragment>
</Wix>
