<?xml version='1.0' encoding='windows-1252'?>
<!-- This MSI defines the wallet package -->
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <?include "config.wxi"?>
    <Product Name='Chia Wallet $(var.version)'
        Manufacturer='$(var.Manufacturer)'
        Id='*'
        UpgradeCode='$(var.walletUpgradeCode)'
        Language='1033'
        Codepage='1252'
        Version='$(var.version)'>
        <Package Id='*'
            Keywords='Chia Network Wallet Installer'
            Description="Chia Wallet Installer $(var.version)"
            Comments='$(var.Comments)'
            Manufacturer='$(var.Manufacturer)'
            InstallerVersion='500'
            Languages='1033'
            Compressed='yes'
            SummaryCodepage='1252'
            InstallScope="perUser"/>

        <!-- Media and application properties -->
        <Media Id='1' Cabinet='chiaWallet.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />
        <Icon Id="icon.ico" SourceFile="$(env.resourceDir)\icon.ico"/>
        <Property Id="ARPPRODUCTICON" Value="icon.ico" />
        <Property Id='DiskPrompt' Value="Chia Network's Chia Installation [1]" />
        <Property Id='ARPCOMMENTS'>$(var.ARPCOMMENTS)</Property>
        <Property Id='ARPCONTACT'>$(var.ARPCONTACT)</Property>
        <Property Id='ARPHELPLINK'>$(var.ARPHELPLINK)</Property>
        <Property Id='ARPURLINFOABOUT'>$(var.ARPURLINFOABOUT)</Property>
        <Property Id='ARPURLUPDATEINFO'>$(var.ARPURLUPDATEINFO)</Property>
        <Property Id='MSIFASTINSTALL'>7</Property>
        <Property Id='ALLUSERS' Secure='yes'>2</Property>
        <Property Id='MSIINSTALLPERUSER' Secure='yes'>1</Property>
        <SetProperty Id="ARPNOMODIFY" Value="1" After="InstallValidate" Sequence="execute"/>

        <!-- Upgrade logic -->
        <Upgrade Id='$(var.walletUpgradeCode)'>
            <UpgradeVersion OnlyDetect='yes'
                Property='SELFFOUND'
                Minimum='$(var.version)'
                IncludeMinimum='yes'
                Maximum='$(var.version)'
                IncludeMaximum='yes' />
            <UpgradeVersion OnlyDetect='yes'
                Property='NEWERFOUND'
                Minimum='$(var.version)'
                IncludeMinimum='no' />
            <UpgradeVersion OnlyDetect='no'
                Property='PREVIOUSFOUND'
                Minimum='0.1.0'
                IncludeMinimum='yes'
                Maximum='$(var.version)'
                IncludeMaximum='no' />
        </Upgrade>
        <CustomAction Id='AlreadyUpdated' Error='Chia Wallet has already been updated to $(var.version) or newer.' />
        <CustomAction Id='NoDowngrade' Error='A later version of Chia Wallet is already installed.' />
        <InstallExecuteSequence>
            <Custom Action='AlreadyUpdated' After='FindRelatedProducts'>SELFFOUND</Custom>
            <Custom Action='NoDowngrade' After='FindRelatedProducts'>NEWERFOUND</Custom>
            <RemoveExistingProducts Before="InstallInitialize" />
        </InstallExecuteSequence>

        <!-- User interface -->
        <WixVariable Id="WixUIBannerBmp" Value="$(env.resourceDir)\banner.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="$(env.resourceDir)\dialog.bmp" />
        <WixVariable Id="WixUILicenseRtf" Value="$(env.resourceDir)\eula.rtf" />
        <UIRef Id="WixUI_Minimal" />
        <UIRef Id="WixUI_ErrorProgressText" />

        <!-- Files, folders, shortcuts, registry etc -->
        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFiles64Folder' Name='installRoot'>
                <Directory Id='ChiaNetworkDir' Name='Chia Network'>
                    <Component Id="ManufacturerData" Guid="BE655B40-EA15-46FB-ADA4-6D9DCDAA0C79">
                        <RegistryValue Root='HKCU'
                            Key='Software\[Manufacturer]'
                            Type='integer'
                            Name="[ProductName]"
                            Value='1'
                            KeyPath='yes' />
                        <RemoveFolder Id='ChiaNetworkDir' On='uninstall' />
                    </Component>
                    <Directory Id='INSTALLDIR' Name='Chia Wallet'>
                        <Component Id="dirINSTALLDIR" Guid="41069240-5836-461F-BF81-614A2C6106A9">
                            <RemoveFolder Id='INSTALLDIR' On='uninstall' />
                            <RegistryValue Root='HKCU'
                                Key='Software\[Manufacturer]\[ProductName]'
                                Type='string'
                                Name="Version"
                                Value='$(var.version)'
                                KeyPath='yes' />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder" Name="Programs">
                <Directory Id="ProgramMenuDir" Name="Chia">
                    <Component Id="ProgramMenuDir" Guid="0B8A0D75-657A-4FFC-84E8-8D40B343E7CA">
                        <Shortcut Id="ProgramMenuShortcut"
                            Name="Chia Wallet"
                            Description="Chia $(var.version)"
                            Target="[INSTALLDIR]$(var.walletExeName)"
                            WorkingDirectory="INSTALLDIR"
                            Icon="icon.ico"/>
                        <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
                        <RegistryValue Root='HKCU'
                            Key='Software\[Manufacturer]\[ProductName]'
                            Type='string'
                            Value='[INSTALLDIR]'
                            KeyPath='yes' />
                    </Component>
                </Directory>
            </Directory>

            <Directory Id="DesktopFolder" Name="Desktop" >
                <Component Id="DesktopShortCut" Guid="4281DF51-82FC-471B-A26A-1292DFEE9738">
                    <Shortcut Id="ApplicationDesktopShortcut"
                        Name="Chia Wallet"
                        Description="Chia $(var.version)"
                        Target="[INSTALLDIR]$(var.walletExeName)"
                        WorkingDirectory="INSTALLDIR"
                        Icon="icon.ico"/>
                    <RemoveFolder Id="DesktopFolder" On="uninstall"/>
                    <RegistryValue Root='HKCU'
                        Key='Software\[Manufacturer]\[ProductName]'
                        Name='Installed'
                        Type='integer'
                        Value='1'
                        KeyPath='yes' />
                </Component>
            </Directory>
        </Directory>

        <!-- Included components -->
        <Feature Id='Complete' Level='1'>
            <ComponentRef Id='DesktopShortCut' />
            <ComponentRef Id='ProgramMenuDir' />
            <ComponentRef Id='dirINSTALLDIR' />
            <ComponentRef Id='ManufacturerData' />
            <ComponentGroupRef Id="ChiaWalletFiles" /> <!-- this component group is defined in the heat generated wxs file -->
        </Feature>
    </Product>
</Wix>
