name: Python package


on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.7, 3.8]
        os: [ubuntu-latest, macOS-latest]

    steps:
    - uses: actions/checkout@v1
    - name: Setup Python environment
      uses: actions/setup-python@v1.1.1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      env:
        CHIA_MACHINE_SSH_KEY: ${{ secrets.CHIA_MACHINE_SSH_KEY }}
        GIT_SSH_COMMAND: "ssh -o StrictHostKeyChecking=no"
      run: |
        eval "$(ssh-agent -s)"
        ssh-add - <<< "${CHIA_MACHINE_SSH_KEY}"
        git submodule update --init --recursive
        brew update && brew install gmp || echo ""
        python3 -m venv .venv
        . .venv/bin/activate
        pip install -e .
        pip install -r requirements.txt
    - name: Lint with flake8
      run: |
        ./.venv/bin/flake8 src --exclude src/wallet
    - name: Lint with mypy
      run: |
        ./.venv/bin/mypy src tests
    - name: Test with pytest
      run: |
        ./.venv/bin/py.test tests -s -v

