# Starts a release for the given ref on the Glue API
name: Start Release
on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  start_release:
    name: Starts release process in Glue API
    runs-on: [glue-notify]
    steps:
      - name: Set Env
        uses: Chia-Network/actions/setjobenv@main
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Start release
        if: "!github.event.release.prerelease"
        run: |
          curl -s -XPOST -H "Authorization: Bearer ${{ secrets.GLUE_ACCESS_TOKEN }}" --data '{"chia_ref": "$RELEASE_TAG"}' ${{ secrets.GLUE_API_URL }}/api/v1/$RFC_REPO/$RELEASE_TAG/start
